.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: bg-slate-800 ;
    color: #fafafa
    
}

.leftFooter p a {
    color: white;
}

.rightFooter p a {
    color: white;
}


@media only screen and (max-width: 600px) {

    .container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        font-size: 11px;
        background-color: #333333;
        color: #fafafa
    }

    .leftFooter p a {
        color: white;
    }

    .rightFooter p a {
        color: white;
    }


}
